<!--Start html for login page  -->
    <h1>Welcome to {{ title }}</h1>
    <!-- To be replaced with logo (?) -->
    <h4><a href="#">En Espanol</a></h4>
    <h2>Sign in to Online Banking</h2>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input type="text" placeholder="Please enter your USERNAME" />
                <input type="password" placeholder="Please enter your PASSWORD" />
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>

<router-outlet></router-outlet>
