/* You can add global styles to this file, and also import other style files */
/* Style for login page. Background/font  */
body {
  background: #6db3bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #6db3bf, #94cfc9);
  background: -o-linear-gradient(right, #6db3bf, #94cfc9);
  background: linear-gradient(to left, #6db3bf, #94cfc9);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
}

